<div class="content">
  <aside>
    <div class="logo-img">
      <img src="../assets/img/logo/logo.jpg" alt="">
    </div>
    <div class="slogan">
      <h1>TaskMaster: Gerencie com maestria!!!</h1>
    </div>
  </aside>
  <div class="message">
    <div class="description-home">
    <p>📌 A proposta do TaskMaster é proporcionar a você uma ferramenta eficiente e flexível para o gerenciamento de tarefas, permitindo que você se concentre no que é mais importante e alcance uma produtividade máxima.</p>
    </div>
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="description">📋 Descrição do projeto</a>
      </li>
      <li>
        <a routerLink="readme">💻 Tecnologias e ferramentas utilizadas</a>
      </li>
      <li>
        <a routerLink="about">🎓 Sobre o desenvolvedor</a>
      </li>
      <li>
        <a routerLink="contact">📞 Contato</a>
      </li>
    </ul>
  </div>
  <div class="form">
    <form action="">

    </form>
  </div>

</div>
