<div class="content">
  <aside>
    <div class="logo-img">
      <img src="../assets/img/logo/logo.jpg" alt="">
    </div>
    <div class="slogan">
      <h1>Gerencie com maestria!!!</h1>
    </div>
  </aside>
  <ul class="message">
    <li *ngFor="let info of infos">
    <p>📌{{info.info_home}}</p>
    </li>
    <form>
      <div class="input-container">
        <label>Email</label>
        <div>
          <input type="email" placeholder="Email" formControlName="email"/>
        </div>
        <div class="error-list" *ngIf="isSubmitted">
          <!-- <div *ngIf="fc.email.errors.required">E-mail obrigatorio</div>
          <div *ngIf="fc.email.errors.email">Email está errado/div> -->
        </div>
      </div>

      <div class="input-container">
        <label>Password</label>
        <div>
          <input type="password" placeholder="Password"
          formControlName="password"/>
        </div>
        <div class="error-list" *ngIf="isSubmitted">
          <!-- <div *ngIf="fc.password.errors.required">Should not be empty</div> -->
        </div>
      </div>

      <div class="button">
        <button class="btn-login" type="submit">Login</button>
      </div>
      </form>
  </ul>
  <div class="links">
    <ul>
      <li>
        <a routerLink="description">📋 Descrição do projeto</a>
      </li>
      <li>
        <a routerLink="readme">🧪 Tecnologias e ferramentas utilizadas</a>
      </li>
      <li>
        <a routerLink="about">🎓 Sobre o desenvolvedor</a>
      </li>
      <li>
        <a routerLink="contact">📞 Contato</a>
      </li>
    </ul>
  </div>
  <div class="form">
    <form action="">

    </form>
  </div>

</div>
