<div class="content">
  <aside>
    <div class="logo-img">
      <img src="../assets/img/logo/logo.jpg" alt="">
    </div>
    <div class="slogan">
      <h1>Gerencie com maestria!!!</h1>
    </div>
  </aside>
  <ul class="message">
    <li *ngFor="let info of infos">
    <p>📌{{info.info_home}}</p>
    </li>
  </ul>
  <div class="links">
    <ul>
      <li>
        <a routerLink="description">📋 Descrição do projeto</a>
      </li>
      <li>
        <a routerLink="readme">🧪 Tecnologias e ferramentas utilizadas</a>
      </li>
      <li>
        <a routerLink="about">🎓 Sobre o desenvolvedor</a>
      </li>
      <li>
        <a routerLink="contact">📞 Contato</a>
      </li>
    </ul>
  </div>
  <div class="form">
    <form action="">

    </form>
  </div>

</div>
