<div class="content">
  <h1>🧪 Tecnologias e Ferramentas</h1>
  <ul class="tech">
    <li *ngFor="let info of infos">
    <a href="https://nodejs.org/en"><p><img src="../assets/img/icon/node.svg" alt=""> {{info.info_tech[0]}}</p></a>
    <a href="https://expressjs.com/pt-br/"><p><img src="../assets/img/icon/express.svg" alt=""> {{info.info_tech[1]}}</p></a>
    <a href="https://angular.io/"><p><img src="../assets/img/icon/angular.svg" alt=""> {{info.info_tech[2]}}</p></a>
    <a href="https://www.mongodb.com/"><p><img src="../assets/img/icon/mongo.svg" alt="">  {{info.info_tech[3]}}</p></a>
    </li>
  </ul>
</div>
