<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskMaster</title>
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <a href="/master/home">
          <img src="/images/logo.jpg" alt="" class="logo-image" />
          <span class="logo-text">TaskMaster</span>
        </a>
        <nav>
          <ul>
            <li>
              <a href="/master/login">Login</a>
            </li>
            <li>
              <a href="/master/profile">Profile</a>
            </li>
            <li>
              <a href="#">Sair</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      {{{body}}}
    </div>    

    <footer>
      <div class="container">
        <ul>
          <li>&copy; 2023 Jhonatan Sampaio - Universidade Tecnológica Federal do
            Paraná.</li>
        </ul>
      </div>
    </footer>

  </body>
</html>