header{
  position: relative;
  background: var(--terciary-color);
  padding: 0;
  border-bottom: 1px solid var(--terciary-color);
  border: 1px solid var(--secondary-color);
}

a {
  color: var(--white-color);

}

a:hover{
  background: var(--secondary-color);
  cursor: pointer;
}

.container
{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
}

a.logo{
  font-weight: bold;
  padding: 1rem;
}

.logo-image {
  margin-right: 1rem;
  width: 20px;
  border-radius: 50%;
}

.logo-text{
  color: var(--white-color)
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a{
  padding: 1rem;
  display: inline-block;
}

/* .menu-container{
  position: relative;
}

.menu{
  position: absolute;
  z-index: 1;
  background: var(--primary-color);
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width: 8rem;
} */

