<div class="forms">  
  <form class="formulario2">
    <div class="form-group">
        <h1>🎓 Sobre o desenvolvedor</h1>
        <ul class="message">
            <li>
            <p>{{{info_about}}}</p>
            </li>
        </ul>
    </div>    
  </form>  
</div>