<div class="forms">  
  <form class="formulario2">
    <div class="form-group">
        <h1>📋 Descrição do projeto</h1>
        <ul class="message">
            <li>
            <p>{{{info_des}}}</p>
            </li>
        </ul>
    </div>    
  </form>  
</div>