<div class="forms">
  <h1>🧪 Tecnologias e Ferramentas</h1>
  <h2>Tecnologias utilizadas no projeto</h2>  
  <form class="formulario2">
    <div class="form-group">
        <ul class="tech">
            <li class="tech-img">
                <a class="tech-img" href="https://nodejs.org/en"><p><img class="tech-img" src="/images/node.svg" alt=""></p></a>
                <a class="tech-img" href="https://expressjs.com/pt-br/"><p><img class="tech-img" src="/images/express.svg" alt=""></p></a>
                <a class="tech-img" href="https://angular.io/"><p><img class="tech-img" src="/images/angular.svg" alt=""></p></a>
                <a class="tech-img" href="https://www.mongodb.com/"><p><img class="tech-img" src="/images/mongo.svg" alt=""></p></a>
            </li>
        </ul>        
    </div>    
  </form>  
</div>