.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

}.content > h1{
  font-size: 20px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-list{
  color: red;
}

label {
  color: var(--primary-color);
  font-weight: bold;
}

input {
  width: 300px;
}
.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

}

.input-container input::placeholder {
  color: var(--primary-color);
  text-align: center;
}

button {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-send {
  background: var(--color-gray);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: var(--terciary-color);
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn-send:hover{
  background-color: var(--terciary-color);
  color: var(--white-color);
}

.btn-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn-remove:hover{
  background-color: white;
  color: black;
}

.btn-tasks{
  display: flex;
  color: var(--terciary-color);
  font-weight: bold;
  background: var(--color-gray);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 5px;
  color: var(--terciary-color);
}

.btns{
  display: flex;
  justify-content: center;
}

