<div class="content">
  <h1>➡️ Adicionar/Editar</h1>
  <form class="form-horizontal" #taskForm="ngForm">
    <div class="col-sm-12">
      <label for="nomeTarefa" class="control-label">Tarefa:</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control"  name="nomeTarefa" placeholder="Digite o nome da tarefa" required>
    </div>

    <div class="col-sm-12">
      <label for="descricao" class="control-label">Descrição:</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control"  name="descricao" placeholder="Digite a Descrição da Tarefa" required>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">Salvar/Editar</button>
  </form>
  <button type="submit" class="btn btn-primary" routerLink="/tasks">Tarefas</button>
</div>

