/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root{
  --primary-color:#0AA7D4;
  --secondary-color: #0881A3;
  --terciary-color:#065A72;
  --white-color: #FFFFFF;
  --black-color: #111111;
  --color-gray: #E6E6E6;
}

*{
  box-sizing: border-box;
}

html{
  font-size: 16px
}

html,
button{
  font-family: "Quicksand", "sans-serif";
}

body{
  margin: 0px;
  padding: 0px;
  background-color: var(--primary-color);
  background-image: url("/assets/img/background/background.png");
  background-repeat: no-repeat;
  font-family: "Quicksand", "sans-serif";

}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

h1 ,h2{
  color: var(--white-color)
}





